.stroke {
    opacity: 0.6;
}

.stroke:hover {
    opacity: 1;
    border-radius: 5px;
}

.stroke:active {
    transform: scale(0.9);
    border-radius: 5px;
}

.settings {
    width: 300px;
    height: fit-content;
    min-width: 300px;
}

.settingsItem {
    color : gray;
    padding: 3px;
    transition-duration: 100ms;
    
}

.settingsItem:hover {
    background-color: #ebebeb;
}

.settingsItem:active {
    transform: scale(0.9);
}
