* {
    
  --button-primary : linear-gradient(73deg, rgba(255,0,183,1) 7%,  rgba(0,153,255,1) 100%);
  --primary-highlight : linear-gradient(73deg, rgba(0,153,255,1) 7%, rgba(255,0,183,1) 100%); 

}

body{
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  padding: 0;
}

