.container {
    display: flex;
    flex-direction: column;
   
    
    align-items: center;
    border-radius: 5px;
    background: var(--bg-light);
    padding: 5px 25px ;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    user-select: none;
}

.optionsbar {
    justify-content: space-between;
    align-items: center;
     width: 100%;
}

.label {
    color: gray;
    font-size: small;
}

.optionsbar {
    display : flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    color:gray;
}

.optionsbar p {
    padding: 0 10px;
    font-weight: 600;
    user-select: none;
    font-size: small;
}

.deletebutton {
    color:gray;
    font-weight: 500;
}

.deletebutton:hover {
    color: red;
    cursor: pointer;
}

.optionsbar p:hover {
    filter: brightness(1.2);
    /* color: #464646; */
    cursor: pointer;
}

.highlightOption {
    color:var(--highlight-option);
    font-weight: 900;
    transform: scale(1.1);
    transition-duration: 100ms;
}